<% provide(:title,'アプリ紹介') %>
<h1>FAV FOODSとは</h1>
    <p> 
    東京都内の料理店をシェアするアプリです。
    誰がどのお店を気に入っているのかを共有する事で
    エンジニア同士がより繋がりやすいように、というコンセプトで作成しました。
    
    記入項目
    
    ・店舗名
    ・店舗所在地
    ・おすすめポイント等
    ・写真
    
    
    アプリ作成者
    twitter @Mizuki_program
    </p>
